.entries {
  max-width: 850px;
  padding: 0.3rem;
  margin: 50px auto 0 auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: var(--color-black);
  border-radius: 8px;
}
.entries .entries-header {
  font-weight: 100;
  color: var(--color-text-white);
  font-size: 22px;
  padding: 0.5rem 0.2rem 0.2rem;
}
.entries ul {
  width: 100%;
  height: 350px;
  margin: 0;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

.entries ul li {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.1);
  color: var(--color-text-white);
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fade 0.8s ease 0s forwards;
  & * {
    margin-right: 10px;
  }
}
.entries ul li.exclusive-li {
  background: var(--color-green);
}
.entries ul li .id {
  max-width: 60px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  padding: 1rem 0;
  font-size: 26px;
  color: var(--color-black);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: bold;
  align-items: center;
}
.entries ul li .extended-number,
.entries ul li .literal-number {
  display: flex;
  flex-direction: row;
}
.entries ul li .extended-number {
  width: 100%;
  overflow: hidden;
}
.entries ul li .id span {
  margin: 0 auto;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
