header {
  width: 100%;
  display: flex;
}
header .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .content h1 {
  color: var(--color-text-white);
  font-size: 72px;
  font-weight: 900;
  line-height: 0.8;
}

header .content p {
  text-align: left;
  color: var(--color-text-white);
}
