* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #5e20dc;
  --color-whiteblue: #6927f1;
  --color-black: #1f1f1f;
  --color-component: #160626;
  --color-component-2: #1a0831;
  --color-green: #06c167;
  --color-grey: rgb(238, 238, 238);
  --color-grey-darker: rgb(84, 84, 84);
}

@font-face {
  font-family: circular;
  src: url(./fonts/CircularStd-Book.ttf);
}

@font-face {
  font-family: circularbold;
  src: url(./fonts/CircularStd-Bold.ttf);
}

html {
  background: var(--color-blue);
  -webkit-font-smoothing: antialiased !important;
}
html,
body,
#root {
  height: 100%;
}
body,
input,
button {
  font-family: "circular";
}
.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  align-items: center;
  display: flex;
  flex-direction: row;
}
